<head>
    <link rel="stylesheet" type="text/css" href="/static/css/basics.css">
    <link rel="stylesheet" type="text/css" href="/static/css/class.css">
    <link rel="stylesheet" type="text/css" href="/static/css/map.css">
    
    <script src="/static/js/class.js" defer></script>
    <script src="/static/js/map.js" defer></script>
</head>
<body>
    <nav>
        some stuff
    </nav>

    <div class="tab active" id="tab-loading">
        loading...
    </div>

    <div class="tab" id="tab-city">
        <div class="map-container" id="map-container">
            <div class="map-content" id="map-content">
                <img src="/static/images/tiles/map.png">
            </div>
        </div>
    </div>

    <div class="tab" id="tab-dev">
        Skill points
        Skill development

        - City
        - Skills
        - Map
        - Tasks
    </div>
<body>