<head>
    <link rel="stylesheet" type="text/css" href="/static/css/basics.css">
    <link rel="stylesheet" type="text/css" href="/static/css/class.css">
    <link rel="stylesheet" type="text/css" href="/static/css/map.css">
    
    <script src="/static/js/actions.js" defer></script>
    <script src="/static/js/class.js" defer></script>
    <script src="/static/js/menu.js" defer></script>
    <script src="/static/js/map.js" defer></script>
</head>
<body>
    <div class="menu" id="menu">
        <div class="menu-contents active" id="loading-menu">
            loading...
        </div>

        <div class="menu-contents" id="skills-menu">
            <div class="left">
                Foraging
                Farming
                Mining
                Trading
                Military
            </div>
            <div class="right">
                <div class="skill unlocked" onclick="buySkill(this, 1)" id="collect">
                    Chopping
                </div>
                <div class="skill locked" onclick="buySkill(this, 1)" id="cutting">
                    Cutting
                </div>
            </div>
        </div>
        <div class="menu-contents" id="map-menu">
            map
        </div>
        <div class="menu-contents" id="tasks-menu">
            tasks
        </div>
    </div>

    <div class="item-menu" id="item-menu">
        <span class="title">Title</span>
        <div class="actions"></div>
    </div>

    <div class="tab active" id="loading-tab">
        loading...
    </div>

    <div class="tab" id="city-tab">
        <div class="nav top">
            <div class="section">
                <span class="title">Wealth</span>

                Skill points : 0
                Gold : 0
            </div>
            <div class="section">
                <span class="title">Villagers</span>

                Humans : 10
                Employed : 0
            </div>
            <div class="section">
                <span class="title">Resources</span>

                Wood : 0
                Planks : 0
                Food : 0
                Parchment : 0
                Stone : 0
                Iron : 0   
            </div>
        </div>

        <div class="nav bottom">
            <div class="section">
                <span onclick="toggleMenu('skills')">Skills</span>
                <span onclick="toggleMenu('map')">Map</span>
                <span onclick="toggleMenu('tasks')">Tasks</span>
            </div>
        </div>

        <div class="map-container" id="map-container">
            <div class="map-content" id="map-content"></div>
        </div>
    </div>

    <div class="tab" id="dev-tab"></div>
<body>