<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/basics.css">
    <link rel="stylesheet" type="text/css" href="/static/css/class.css">
    <link rel="stylesheet" type="text/css" href="/static/css/map.css">
    <link rel="stylesheet" type="text/css" href="/static/css/ui.css">
    
    <script src="/static/js/buildings.js" defer></script>
    <script src="/static/js/actions.js" defer></script>
    <script src="/static/js/class.js" defer></script>
    <script src="/static/js/data.js" defer></script>
    <script src="/static/js/time.js" defer></script>
    <script src="/static/js/map.js" defer></script>
    <script src="/static/js/ui.js" defer></script>
</head>
<body>
    <div class="night-overlay" id="night-overlay"></div>

    <div class="alert" id="alert"></div>

    <div class="menu menu-item" id="menu">
        <div class="menu-contents active" id="loading-menu">
            loading...
        </div>

        <div class="menu-contents" id="skills-menu">
            <div class="left">
                Foraging
                Farming
                Mining
                Trading
                Military
            </div>
            <div class="right">
                <div class="item unlocked" onclick="buySkill(this, 1)" id="collect">
                    Chopping
                </div>
                <div class="item locked" onclick="buySkill(this, 1)" id="cutting">
                    Lumber camp
                </div>
                <div class="item locked" onclick="buySkill(this, 1)" id="cutting">
                    Cutting
                </div>
            </div>
        </div>
        <div class="menu-contents" id="map-menu">
            map
        </div>
        <div class="menu-contents" id="tasks-menu">
            tasks
        </div>
    </div>

    <div class="item-menu" id="item-menu">
        <span class="title">Title</span>
        
        <div class="status"></div>
    </div>

    <div class="build-menu" id="build-menu">
        <span class="title">Build</span>

        <button onclick="build('lumberCamp')">Lumber camp</button>
        <button onclick="build('house')">House</button>
    </div>

    <div class="tab active" id="loading-tab">
        loading...
    </div>

    <div class="tab" id="city-tab">
        <div class="nav top">
            <div class="section">
                <span class="title">Calendar</span>

                <div class="section-content">
                    01/01/1212
                </div>
            </div>

            <div class="section">
                <span class="title">Wealth</span>

                <div class="section-content">
                    <div class="resource">
                        <div class="icon wood-icon"></div>
                        <span id="skill-points">0</span>
                    </div>

                    <div class="resource">
                        <div class="icon wood-icon"></div>
                        <span id="gold">0</span>
                    </div>
                </div>
            </div>

            <div class="section">
                <span class="title">citizens</span>

                <div class="section-content">
                    <div class="resource">
                        <div class="icon wood-icon"></div>
                        <span id="citizens">0</span>
                    </div>

                    <div class="resource">
                        <div class="icon wood-icon"></div>
                        <span id="idle">0</span>
                    </div>
                </div>
            </div>

            <div class="section">
                <span class="title">Resources</span>

                <div class="section-content">
                    <div class="resource">
                        <div class="icon wood-icon"></div>
                        <span id="wood">0</span>
                    </div>
    
                    <div class="resource">
                        <div class="icon planks-icon"></div>
                        <span id="planks">0</span>
                    </div>

                    <div class="resource">
                        <div class="icon berry-icon"></div>
                        <span id="berry">0</span>
                    </div>
    
                    <div class="resource">
                        <div class="icon papyrus-icon"></div>
                        <span id="papyrus">0</span>
                    </div>

                    <div class="resource">
                        <div class="icon stone-icon"></div>
                        <span id="stone">0</span>
                    </div>
    
                    <div class="resource">
                        <div class="icon iron-icon"></div>
                        <span id="iron">0</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="nav bottom menu-item">
            <div class="section">
                <div class="section-content">
                    <div class="icon pickaxe-icon" onclick="toggleMenu('skills')"></div>
                    <div class="icon pickaxe-icon" onclick="toggleMenu('map')"></div>
                    <div class="icon pickaxe-icon" onclick="toggleMenu('tasks')"></div>
                </div>
            </div>
        </div>

        <div class="map-container" id="map-container">
            <div class="map-content" id="map-content"></div>
        </div>
    </div>

    <div class="tab" id="dev-tab"></div>
<body>