:root {
    --primary-font-clr: #fff;
    --secondary-font-clr: #7a6351;
}

body {
    margin: 0;
    box-sizing: border-box;
}

.primary-btn {
    padding: 12.5px;
    font-size: 16px;
    border: 2px solid var(--secondary-bg);
    background-color: var(--primary-bg);
    color: var(--primary-text);
    border-radius: 25px;
    box-shadow: 0px 3px 0px var(--secondary-bg);
    transition: .3s;
}
.primary-btn:hover {
    background-color: var(--secondary-bg);
    box-shadow: none;
    cursor: pointer;
}