body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative
}

div.section {
    transition: .3s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.section button {
    margin-top: 12.5px;
    width: 100%;
}

.content {
    display: flex;
    gap: 12.5px;
}

.content div.primary-btn {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}