body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c0d470;
}

.map-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    user-select: none;
    image-rendering: pixelated;
}

.map-content {
    position: absolute;
    cursor: grab;
}

.map-content:active {
    cursor: grabbing;
}

/* TILES */
.tile-row {
    display: flex;
}

.tile {
    width: 64px;
    height: 64px;
    background-image: url('/static/images/tiles/tile_map.png');
}

.tile.active,
.tile:hover {
    filter: brightness(75%);
}

/* GRASSES */
.grass-tile-1 {
    background-position: -320px 0px;
}
.grass-tile-2 {
    background-position: -320px -64px;
}
.grass-tile-3 {
    background-position: -320px -128px;
}

/* TREES */
.wood-tile-1 {
    background-position: -256px 0px;
}
.wood-tile-2 {
    background-position: -256px -64px;
}
.wood-tile-3 {
    background-position: -256px -128px;
}

/* BERRY */
.berry-tile-1 {
    background-position: -192px 0px;
}
.berry-tile-2 {
    background-position: -192px -64px;
}
.berry-tile-3 {
    background-position: -192px -128px;
}

/* BERRY SEEDS */
.berrySeeds-tile[status="stage-1"] {
    background-position: -128px 0;
}
.berrySeeds-tile[status="stage-2"] {
    background-position: -128px -64px;
}
.berrySeeds-tile[status="stage-3"]  {
    background-position: -128px -128px;
}

/* STONES */
.stone-tile-1 {
    background-position: -64px 0px;
}
.stone-tile-2 {
    background-position: -64px -64px;
}
.stone-tile-3 {
    background-position: -64px -128px;
}

/* IRONS */
.iron-tile-1 {
    background-position: 0 0;
}
.iron-tile-2 {
    background-position: 0 -64px;
}
.iron-tile-3 {
    background-position: 0 -128px;
}


/* BUILDINGS */
.buildersHut-tile {
    background-position: -384px 0px;
}
.lumberCamp-tile {
    background-position: -384px -64px;
}
.house-tile {
    background-position: -384px -128px;
}
.gatherersHut-tile {
    background-position: -448px -0px;
}
.foodMarket-tile {
    background-position: -448px -64px;
}