<!DOCTYPE html>
<html>
<head>
    <!-- Icon -->
    <link rel="icon" href="/static/images/mediapack/icon.png"> 

    <!-- Meta rules -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>TutorTale</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/auth.css">
    <link rel="stylesheet" type="text/css" href="/static/css/basics.css">

    <!-- Custom jS -->
    <script src="/static/js/auth.js" defer></script>
    <script src="/static/js/basics.js" defer></script>

    <!-- None custom Scripts -->
    <script src="https://code.iconify.design/1/1.0.4/iconify.min.js"></script>
    <script src="https://kit.fontawesome.com/697d2afc76.js" crossorigin="anonymous"></script>
</head>
<body> 
    {% block content %}{% endblock %}
</body>
</html>